$grey-dark:    #333;
$grey:         #777;
$grey-light:   #999;
$grey-lighter: #eee;

$orange:       #D47500;
$green:        #3CB521;
$blue:         #3399F3;
$red:          #CD0200;

$text: $white;
$title-color: $white;
$primary: #34495e !default;
$body-background-color: $grey-dark !default;

$label-color: $grey-light;
$label-weight: $weight-normal;
$input-hover-color: $grey-light;